<div class="jumbotron">

  <div class="container">
    <h4>Daily Exercise Tracker</h4>
    <h5>Here is a list of worksouts</h5>

    <div class="row">

      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h5>To do</h5>
          </div>
          <ul class="list-group list-group-flush" id="todo-list">
            <li *ngFor="let x of athlete.todoList; index as i" class="list-group-item"
                (click)="finishExercise($event, x, i )">{{x.text}}</li>
          </ul>
        </div>
        <br>

      </div>

      <div class="col-md-9">

        <div class="card">
          <div class="card-header">
            <h5>Done</h5>
          </div>
          <ul class="list-group list-group-flush" id="done-list">
            <li *ngFor="let x of athlete.doneList" class="list-group-item">{{x.text}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
