<div class="jumbotron">

  <div class="container">
    <h4>Exercise Tracker</h4>

    <div class="row">

      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h5>Athlete</h5>
          </div>
          <ul>
            <li class="list-group list-group-flush">
              {{athlete.name}}</li>
          </ul>
        </div>
      </div>



    </div>
    <br>

    <div class="row">

      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h5>Add a workout</h5>
          </div>
          
          <div class="input-group">
            <input [(ngModel)]="newWorkout" type="text" class="form-control" placeholder="Workout name..." aria-label="Workout name...">
            <span class="input-group-btn">
              <button (click)="addNewExercise($event)" class="btn btn-secondary" type="button">add</button>
            </span>
          </div>
        </div>
      </div>



    </div>





    <br>
    <h5>Workout Routine</h5>
    <h6>Click to complete...</h6>
    <div class="row">

      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h5>To do</h5>
          </div>
          <ul class="list-group list-group-flush" id="todo-list">
            <li *ngFor="let x of athlete.todoList; index as i" class="list-group-item" >{{x.text}}
              <button (click)="finishExercise($event, x, i )" style="float: right;" class="badge badge-info"type="button" class="btn btn-secondary btn-sm">Finish</button> 
              <button (click)="deleteExercise($event, x, i )" style="float: right;" class="badge badge-info"type="button" class="btn btn-secondary btn-sm">Delete</button>
            </li>
          </ul>
        </div>
        <br>

      </div>

      <div class="col-md-6">

        <div class="card">
          <div class="card-header">
            <h5>Done</h5>
          </div>
          <ul class="list-group list-group-flush" id="done-list">
            <li *ngFor="let x of athlete.doneList" class="list-group-item">{{x.text}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
