<div class="container">
  <div class="row">
    <div class="col-md-4"> </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputEmail3" placeholder="Name" [(ngModel)]="name">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" placeholder="Password is 'password' " [(ngModel)]="password">
         
        </div>
      </div>
      <a class="btn btn-primary" *ngIf="exercise.athlete == null" (click)="login()">Log in</a>

    </div>
  </div>
</div>
