<nav class="navbar navbar">
  <br>
  <div class="container-fluid">
      <div class="navbar-header navbar-expand-lg">
          <a href="/" class="navbar-brand">myExercise</a>
      </div>

      <ul class="nav navbar-nav">
          <li>
              <a href="/exercise" >Exercise Tracker</a>
          </li>
          
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li *ngIf="exercise.athlete != null">
              <a href="#">
                  <span (click)="logout()" class="glyphicon glyphicon-user"></span>Logout</a>
          </li>
          <li *ngIf="exercise.athlete == null"  >
              <a href="/login">
                  <span class="glyphicon glyphicon-log-in"></span>Login</a>
          </li>
      </ul>
  </div>
</nav>