<nav class="navbar navbar">
  <br>
  <div class="container-fluid">
      <div class="navbar-header navbar-expand-lg">
          <a href="/" class="navbar-brand">myExercise</a>
      </div>

      <ul class="nav navbar-nav">
          <li>
              <a href="/exercise" id="ruleslink">Exercise Tracker</a>
          </li>
          <li>
              <a href="/calories" id="signuplink">Calorie Counter</a>
          </li>
          
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li>
              <a href="/signup">
                  <span class="glyphicon glyphicon-user"></span> Sign Up</a>
          </li>
          <li>
              <a href="/login">
                  <span class="glyphicon glyphicon-log-in"></span> Login</a>
          </li>
      </ul>
  </div>
</nav>