<div class="jumbotron">
  <div class="text-center">
    <h3>Welcome to myExercise!</h3>
    <br>
    <ul id="feature-list">
      <li>
        <b>Exercise Data</b> track what exercises you have completed.
        <br> Compare how many calories you have burned compared other athletes!</li>
    </ul>
    <br>
    <br>
  </div>

  <div class="row">
    <div class="item active text-center col-md-3"> </div>
    <div class="item text-center col-md-3">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Have an account?</p>
          <a href="/login" class="btn btn-primary">Login</a>
        </div>
      </div>
    </div>
    <div class="item active text-center col-md-3">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Edit Exercise Data</p>
          <a href="/exercise" class="btn btn-primary">Track progress!</a>

        </div>
      </div>
    </div>




  </div>

</div>
