<div class="jumbotron">
  <div class="text-center">
    <h3>Welcome to myExercise!</h3>
    <br>
    <h4>Here is a list of features:</h4>
    <ul id="feature-list">
      <li>
        <b>Exercise Data Tracker</b> Lets you track what exercises you have completed today</li>
      <li>
        <b>Calorie Data Tracker</b> Lets you track what calories you have consumed/burned.
      </li>
      </ul>
    <br>
    <br>
  </div>

  <div class="row">
    <div class="item active text-center col-md-3">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Edit Exercise Data</p>
          <a href="/exercise" class="btn btn-primary">Track progress!</a>

        </div>
      </div>
    </div>

    <div class="item active text-center col-md-3">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Edit Calorie Data</p>
          <a href="/exercise" class="btn btn-primary">Track progress!</a>

        </div>
      </div>
    </div>

    <div class="item text-center col-md-3">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Have an account?</p>
          <a href="login.html" class="btn btn-primary">Login</a>
        </div>
      </div>
    </div>

    <div class="item text-center col-md-3">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Make an account!</p>
          <a href="signup.html" class="btn btn-primary">Signup</a>
        </div>
      </div>
    </div>

  </div>

</div>
